* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: gray;
    margin: 50px;
    height: 200px;
    border-radius: 20px;
}

header h1 {
    font-size: large;
    color: red;
    margin: 50px;
    text-align: center;
    border-spacing: 200px 200px;

}

.navbar nav {
    text-align: center;
}

nav a {
    text-align: center;
    color: antiquewhite;
    padding: 20px;
}

section p {
    border-style: solid;
    margin: 10px;
}

table {
    text-align: center;
    margin: 10px;
}
td {
    margin-left: 10px;
    margin-right: 10px;
}

td div {
    background-color: yellow;
    border-radius: 10px;
}

td div img {
    padding: 10px;
}


.container {
    background-color: grey;
    color: antiquewhite;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

